<div class="row">
                    <div class="col-sm-4 logo"><a href="/"><img src="resources/img/logo.svg" alt=""></a></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <ul>
                            <li><a href="/#about">About Us</a></li>
                            <li><a href="/#trips">Popular Destinations</a></li>
                            <li><a href="#contact">Let's Talk</a></li>
                        </ul>
                        </div>
                        <div class="row">
                            <ul class="secondary">
                                 <li><a href="/honeymoons">Honeymoons</a></li>
                                 <li class="blog"><a href="/blog">Travel Blog</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>