<div class="tab-pane fade" role="tabpanel" id="[[+trip:lcase:replace=` ==`]]">
                            <div class="meta">
                                <h1>[[+trip]]</h1>
                                [[+content]]
                            </div>
                            <div class="img-contain"><img src="[[+trip-img]]" alt=""></div>
                        </div>