 [[!FormIt?
    &hooks=`spam, sendGrid, email`
     &emailFrom=`[[++primary-email]]`
       &emailTpl=`snt-from`
       &emailTo=`justin.lobaito@weloideas.com,[[++primary_email]]`
       &emailSubject=`Contact Form Submission`
    &validate=`phone:required,  first_name:required, last_name:required,  email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`
      <div style="position:relative;text-align:center;display:inline-block;width:100%" class="cf">
      <h4>Thank you for getting in contact with us.</h4>
      <p>We will get back to you shortly!</p></div>` 
      

    ]]

   [[!+fi.validation_error_message:!empty=`


        <div style="position:relative;text-align:center;display:inline-block;width:100%" class="container-fluid">
              <div class="row">
                    <div class="col-xs-12">  <strong><h4>Please review the following errors:</h4></strong></div>
                    [[!+fi.error.first_name:!empty=`<div class="col-sm-6"><p style="color:red;"><sup>*</sup>First Name is required</p></div>`]]
                    [[!+fi.error.last_name:!empty=`<div class="col-sm-6"><p style="color:red;"><sup>*</sup>Last Name is required</p></div>`]]
                    [[!+fi.error.email:!empty=`<div class="col-sm-6"><p style="color:red;"><sup>*</sup>Email Address is required</p></div>`]]
                    [[!+fi.error.phone:!empty=`<div class="col-sm-6"><p style="color:red;"><sup>*</sup>Phone Number is required</p></div>`]]
                    [[!+fi.error.comments:!empty=`<div class="col-sm-6"><p style="color:red;"><sup>*</sup>Additional Comments is required</p></div>`]]
                </div>

        </div>
</div>


`]]
    [[!+fi.successMessage]]



<form class="main-form row-fluid" action="[[~[[*id]]]]#contact" method="post" id="contact"  >
                        
                                <div class="col-sm-6">
                                    <label for="first_name">First Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                                </div>
                                <div class="col-sm-6">
                                    <label for="last_name">Last Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                                </div>
                                <div class="col-sm-6">
                                    <label for="email">Email Address<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                                </div>
                                <div class="col-sm-6">
                                    <label for="phone">Phone<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                                </div>
                                <!-- <div class="col-sm-6">
                                    <label for="service">I am interested in help with:</label>
                                    <select id="service" name="service" value="[[!+fi.service]]">
                                        <option value="hide">-- Please select an option --</option>
                                        <option value="Creative">Creative</option>
                                        <option value="Agency representation">Agency representation</option>
                                        <option value="Website design">Website design</option>
                                        <option value="Marketing review">Marketing review</option>
                                        <option value="General Inquiry">General Inquiry</option>
                                    </select>

                                </div> -->
                            <input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
                            <div class="col-sm-12">

                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                                    <input class="cbp-mc-submit" type="submit" value="Send along" />

                                
                            </div>
                            
                    </form>