[[$doc_head]]
    <body class="">
        <div class="bgcontain">
            
        </div>
        
        <section class="intro">
            <nav class="mainnav">
            <div class="container-fluid wrap">
                [[$navigation]]
            </div>
        </nav>
        <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12">
                    <p><span>Relax. Rest. Rejuvenate. Recharge.</span></p>
                    <h1>Get Away From It All</h1>
                    </div>
                </div>
            </div>
            
        </section>
        <section class="about" id="about">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12">
                    <h1>[[*pagetitle]]</h1>
                    [[*content]]
                </div>
            </div>
        </section>
       
        <section class="contact" id="contact">
            <div class="container-fluid wrap">
                <div class="col-xs-12 headline">
                    <h1>Pack Your Bags</h1>
                    <p>Tell us where <strong>you</strong> want to go</p>
                </div>
                <div class="row">
                    [[$contact-form]]

                    <div class="footer container-fluid" style="text-align:center;">
                    
                        <div class="row">
                            <div class="col-xs-12">
                                <p>©2016 Away from it all Travel&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;[[++primary-email]]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;3850 Merle Hay Road #215, Des Moines, IA 50310&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;[[++primary-tele]]</p>
                                <p>Away From It All Travel supports the efforts of</p>
                                <a href="https://donate.lls.org/lls/donate" target="_blank"><img width="150" src="resources/img/lls.png" alt="Leukemia and lymphoma society"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        [[$doc_footer]]
