[[$doc_head]]
    <body>
        
        <section class="intro">
            <nav class="mainnav">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-sm-4 logo"><img src="resources/img/logo.svg" alt=""></div>
                    <div class="col-sm-8">
                        <ul>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#trips">Popular Destinations</a></li>
                            <li><a href="#contact">Let's Talk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12">
                    <p><span>Relax. Rest. Rejuvenate. Recharge.</span></p>
                    <h1>Get Away From It All</h1>
                    <h2>Learn How <i class="fa fa-arrow-down"></i></h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12">
                        
                    <h1>Need to get away?</h1>
                    <p>Admit it. You’ve probably taken a vacation only to be overwhelmed by the burdensome requirements, challenges and stress that went in to planning the vacation? Do the words “I need a vacation to recover from the vacation I just took!” come to mind?</p>
                    <h2>We can help.</h2>
                    <p>Jeff Campbell and the Away From It All Travel team bring experience and enthusiasm to your vacation planning experience. Away From It All Travel is part of a worldwide alliance of travel and tourism providers that will take all of the worry and stress out of planning your next vacation. After all, a vacation should be about getting away from it all...shouldn’t it? From around the country to around the world, planning your next vacation is just an e-mail or phone call away.</p>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="how">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12">
                        
                    <h1>How we help</h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="item">
                            <p class="icons"><img src="resources/img/icon4.svg" alt=""></p>
                            <p><strong>Step 1:</strong> Choose your destination. Whether you know where you want to go or you’re open to recommendations, there’s not a vacation we can’t help you plan.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item">
                            <p class="icons"><img src="resources/img/icon2.svg" alt=""></p>
                            <p><strong>Step 2:</strong> Now that you know where you’re going, what do you want to do? A self-paced relaxing sight-seeing discovery? Or do you like structured itineraries with activities, excursions, and meals and entertainment lined up for you? We can set it up anyway you’d like.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item">
                            <p class="icons"><img src="resources/img/icon3.svg" alt=""></p>
                            <p><strong>Step 3:</strong> “Attention all passengers, we are now boarding YOUR flight!” Ahhhh...and now it begins! A vacation you’ve always wanted to take, free from worry, stress, and all that cumbersome planning. Have fun! We’ll be on standby to address anything that needs attention before or during your vacation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="trips" id="trips">
            <div class="container-fluid wrap">
                <div class="row">
                    <h1>Our most popular destinations</h1>
                    <ul role="tablist" class="trips-nav">
                        <li role="presentation" class="active"><a href="#italy" aria-controls="italy" role="tab" data-toggle="tab">Italy</a></li>
                        <li role="presentation"><a href="#ireland" aria-controls="ireland" role="tab" data-toggle="tab">Ireland</a></li>
                        <li role="presentation"><a href="#caribbean" aria-controls="caribbean" role="tab" data-toggle="tab">Western Caribbean Cruise</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" role="tabpanel" id="italy">
                            <div class="meta">
                                <h1>Italy</h1>
                                <p>Italy was one of the first countries to become a world-wide tourist destination. From the spectacularly rich food and wines meticulously crafted from lush, local vineyards to exquisite piazzas featuring some of the most famous architecture and art in the World; to the Roman ruins, snow-capped mountains, or water-filled canals of Venice - Italy is full of wonderment for all ages.</p>
                            </div>
                            <div class="img-contain"><img src="resources/img/italy.png" alt=""></div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="ireland">
                            <div class="meta">
                                <h1>Ireland</h1>
                                <p>Rolling green hills. Majestic coastlines. The history, magic, and lore of Ireland will romance any visitor. Planning a trip to Ireland can include a visit to the famous Blarney Castle (yes, home to the famous stone by the same name), a stunning view of the Atlantic ocean from the Cliffs of Moher, or trips through the charming cities of Killarney or Dublin. Remember though, no trip to Ireland is complete without a pint (or two!) of Guinness!</p>
                            </div>
                            <div class="img-contain"><img src="resources/img/ireland.png" alt=""></div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="caribbean">
                            <div class="meta">
                                <h1>Western Caribbean</h1>
                                <p>Whether it’s your first time, or your fiftieth time, there’s something about cruises that people love. We know you’ll love the appeal and affordability of our famous 4-night Western Caribbean cruises. Travel in comfort at sea and play by day on the beaches of ports of call including Cozumel, Belize, Ocho Rios, and Grand Cayman, returning to your ship to party or relax the night away en route to the next day’s stop!</p>
                            </div>
                            <div class="img-contain"><img src="resources/img/cruise.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="container-fluid wrap">
                <div class="col-xs-12 headline">
                    <h1>Pack Your Bags</h1>
                    <p>Tell us where <strong>you</strong> want to go</p>
                </div>
                <div class="row">
                    [[$contact-form]]

                    <div class="footer container-fluid" style="text-align:center;">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>©2016 Away from it all Travel&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;[[++primary-email]]&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;3850 Merle Hay Road #215, Des Moines, IA 50310&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;[[++primary-tele]]</p>
                                <p>Away From It All Travel supports the efforts of</p>
                                <a href="https://donate.lls.org/lls/donate" target="_blank"><img src="resources/img/lls.jpg" alt="Leukemia and lymphoma society"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        [[$doc_footer]]
