/* Contact Form */
.main-form {
  position: relative;
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}



.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $heading;
  color:$primary;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: $background;
  display: block;
  width: 100%;
  background: #ebebeb;
  border: solid 1px transparent;
  height:50px;
}

.main-form input,
.main-form textarea {
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
}

.main-form textarea {
  min-height: 200px;
}

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.main-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #929292;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #929292;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #929292;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #929292;
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input[type="submit"] {
  @extend .button;
  width:auto;
  height:auto;


}


#nospam, .nospam {
  display:none;
}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}


/* SELECT */


$background: #e74c3c;
$select-color: $background;
$select-background: #ebebeb;
$select-width: 100%;
$select-height: 50px; 

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $background;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 15px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 24px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  height:150px;
  overflow:scroll;
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    color:$background;
    text-shadow:none;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: white;
      background: $secondary;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}