* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

html{
 height:100%;
  background-color:#003a5d;
}

.bgcontain,body {
  background-repeat: no-repeat;

}

body {
  background-color:#003a5d;
  background-image: url(/resources/img/main-bg.png);
  background-position: center bottom;
  &.honeymoon {
  background-image: url(/resources/img/parisFooter.png);

    .bgcontain {
      background-image:url(/resources/img/borabora.jpg);
    }

  }
}

.bgcontain {
  background-image:url(/resources/img/intro.png);
  background-position: center top;
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: 1;
}




@include viewport(sm){
  .bgcontain, body {
      background-size: 100% auto;
  }

}

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  overflow:hidden;
  padding:4em 3em;
  @include viewport(sm){
    padding:5em 2em;
  }
  @include viewport(md){
    padding:10em 0;
  }
    
}

.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }
}


.intro {
  nav{
    margin-bottom: 3em;
  }
  .col-xs-12 {
    text-align: center;
    padding:10em 0;
    h1,h2,p{text-shadow:0 0 10px rgba(darken(black,10),.9);}
    p {
      margin-bottom: 0;
    }
    h1 {
      margin-bottom: 1em; 
      font-weight: 800;
        @include viewport(sm){
          margin-bottom: 2em;
          font-size: 60px;
        }
    }
    h2 {
      color:$primary;
      font-size: 14px;
      i {
        margin-top:1em;
        display: block;
      }
    }
  }
}
.about {
  padding-top:0;
  padding-bottom:0;
  margin:-2em 0 0em;
  .wrap {
    max-width:720px;
  }
}

.trips {
  position: relative;
  #ireland {
    .img-contain {
      @include viewport(md){
            margin-left: 12em;
    margin-top: -40em;
      }
  }
  }
  #westerncarribbean {
    .img-contain {
      @include viewport(md){
        margin-top: -42em;
      }
  }
  }
  #paris {
    .img-contain {
      @include viewport(md){
        margin-top: -48em;
        margin-left:-8em;
      }
  }
  }
  .img-contain {
    @include viewport(md){
          width: 200%;
    margin-top: -32em;
    position: relative;
      }  
    }
  .trips-nav {
    margin:2em 0;
    display: inline-block;
    width:100%;
      li {
        float:left;
        width:33%;
        text-align: center;
        &.active {
          a {
            color:$secondary;
            border-color:$secondary;
          }
        }
        a {
          text-transform: uppercase;
          color:white;
          font-family: $heading;
          border-top:solid 3px transparent;
          border-bottom:solid 3px transparent;

        }
      }
  }
  padding-top: 2em;
  .tab-pane{
    .meta {
      text-align: left;
      @include viewport(md){
        width:40%;
      }
    }
    h1 {
      text-align: left;
      color:$primary;
      border-top: solid 4px $primary;
      border-bottom: solid 4px $primary;
      display: inline-block;
      margin-bottom: 20px;
      @include viewport(sm){
        font-size: 60px;
      }
      @include viewport(md){
        font-size: 90px;
      }
    }
  }
}

.how {
  background: url(/resources/img/how.png) center no-repeat;
  background-size: auto 100%;
  @include viewport(md){
  background-size: 120%;
  margin:-10em 0;

  }
  .col-sm-4 {
    &:last-child {
      .item {
      border:0;
      padding-right: 0;
    }
    }
  }
  .item {
    border-bottom:solid 1px rgba($primary,.8);
    margin-bottom: 3em;
    padding-right: 15px;
    @include viewport(sm){
      min-height: 400px;
      padding-top:3em;
      padding-bottom:1em;
      border-right:solid 1px rgba($primary,.8);
      border-bottom: 0;
    }
    
    .icons {
      margin-bottom: 3em;
      text-align: center;
      @include viewport(sm){
        height:68px;
      }
      img {
        width:auto;
        height:100%;
      }
    }
  }

  @include viewport(sm){
  background-size: 100% auto;
  padding:27em 2em;
  @include viewport (md ){
    padding:20em 0;
  }
}
}



/* FOOTER */

.contact {
  .headline {
    text-align: center;
    margin: 2em 0;
  }
  
  h1 {
    margin-bottom: 10px;
    @include viewport(sm){
      font-size: 95px;
    }
  }
}

.footer {
  margin: 8em 0;
  p {
    font-size: 12px;
  }
}

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


