.mainnav {
	.wrap {
		max-width:1100px;
	}
@include transition(all .5s);
	ul{
		&.secondary {
			.blog {
				a {
					font-size: 14px;
				}
			}
			a {
				font-size: 18px;
			}
		}
		text-align: center;
		@include viewport(sm){
			float:right;
			text-align: left;
		}
		li {
			margin-bottom: 0;
			@include viewport(sm){
			float:left;
			
		}
		&.active {
				a,a:active,a:visited {
					color:$secondary;
				}
			}
			a {
				padding:1em .75em;
				color:white;
				font-family: $heading;
				text-transform: uppercase;
				font-size: 14px;
				text-shadow:0 0 10px rgba(black,.9);
				&:hover {
					color:$secondary !important;
				}
				&:visited {
					color:white;
				}
			}
		}
	}
}

nav {
	.logo {
		margin-bottom: 2em;
		@include viewport(sm){
		margin-top: -50px;
		margin-bottom: 0;
	}
		img {
			width:80%;
		}
	}
}
