body {
  font: 100%/1.5 $body;
  color: $neutral;
}



html,body {
  @include viewport(sm){
    background-size: 100% auto;
  }
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $secondary;
  text-transform: uppercase;
  margin-bottom: 1em;
  text-align: center;
  text-shadow:0 1px 5px rgba(darken($background,10), .8);

}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
  @include viewport(sm) {
    font-size: 40px;
  }

}

/* PARAGRAPH */

li,p,a,label {
  text-shadow:0 1px 5px rgba(darken($background,10),.4);
}

p,li {
  font-family: $body;
  font-size: 14px;
  @include viewport(sm){
    font-size: 16px;
  }
  line-height: 1.8;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$link;
  &:visited, &:active {
  color:$link;
    
  }
  @include transition(all .3s);
  text-decoration: none !important;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}


.button {
  display: inline-block;
  margin:1em 0;
  background:$secondary;
  color:white;
  @include transition(.3s all);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  padding:1em 3em;
  &:hover {
    background:white;
    color:$secondary;
  }
}