// COLOR PALETTE
$primary: white;
$secondary: #ca4d52;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$background: #003a5d;

// FONT STACKS
$heading:'Roboto Slab', serif;
$body: 'Raleway', sans-serif;